%html
  %head
    %script{:type => 'text/javascript', :src => "./js/jquery-2.1.4.min.js"}
    %script{:type => 'text/javascript', :src => "./js/bootstrap.min.js"}
    %link{:rel => "stylesheet", :href => "./css/bootstrap.min.css"}
  %body
    %form{:action => "/create-user", :method => "post"}
      %p= @obj[:name]
      %p= @obj.invert["1"]
      %p= @obj.invert["2"]
      %p= @obj.invert["3"]
      %p= @obj.invert["4"]
      %p= @obj.invert["5"]
      %p= @obj.invert["7"]
      %p= @obj.invert["8"]
      %p= @obj.invert["9"]
      %p ok ?
      - @obj.each do |k , v|
        %input{:type => "hidden",:name => k, :value => v}
      %input{:type => "submit", :value => "ok"}

